
.footer {
    background: var(--color-gray-dark);
    border-top: 1px solid var(--color-gray-light);
    box-shadow: 0 0 4px var(--color-gray-dark);
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.footer__header {
    margin-bottom: 1em;
}

.footer__header p {
    font-size: var(--font-size-small);
    margin-bottom: 0;
}

.footer__header p:first-child {
    font-size: var(--font-size-xl);
    font-weight: bold;
}

.footer__content {
    display: flex;
    flex-direction: row;
}

.footer__section {
    flex: 1;
    padding: 1em;
}

.footer__logo {
    height: 96px;
    width: auto;
}

.footer__copyright {
    color: var(--color-gray-medium);
    font-size: var(--font-size-small);
}

.footer__bottom {
    text-align: center;
}

.footer__bottom  hr {
    border: none;
    border-bottom: 1px solid var(--color-gray-medium);
    margin: 1em 0;
}