
.mixpage {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: auto;
    max-width: 1024px;
    padding-top: 1em;
    width: 90%;
}

.main {
    flex: 1;
    padding-right: 1em;
}

.sidebar {
    width: 300px;
}

.dedication {
    background: var(--color-gray-xtralight);
    border-radius: 12px;
    font-size: var(--font-size-small);
    font-style: italic;
    color: var(--color-gray-dark);
    margin: 1em 0;
    padding: 2em 1em;
}